/* Set colors for the page */
body {
  background-color: rgba(192, 226, 242, 0.821);
  color: black; /* this is the font color*/
  font-size: larger;
}

/* create styles for the h1 tag */

/* Sample - pick your own colors and settings. Make sure to include the ; at the end of the line

h1{
    color: teal;
    font-family: serif;
    font-size: larger;
    text-align: center;
}
*/
h1 {
  color: rgb(29, 49, 59);
  font-family: unset;
  font-size: xx-large;
  text-align: center;
}

/* create styles for the h2 tag */
h2 {
  color: rgb(58, 77, 87);
  font-family: initial;
  font-size: x-large;
  text-align: center;
}
/* create styles for the h3 tag */
h3 {
  color: rgb(58, 77, 87);
  font-family: initial;
  font-size: x-large;
  text-align: center;
}
/* create styles for the p tag */
p {
  color: rgb(7, 21, 29);
  font-family: initial;
  font-size: large;
  text-align: center;
}

img {
  width: 60%;
  display: block;
  margin: 20px auto;
  /* this set of 3 commands centers. 10px is spacing top and bottom, auto is left and right*/
}
